<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ constant('FS_LANG')|slice(0, 2) }}" xml:lang="{{ constant('FS_LANG')|slice(0, 2) }}" >
    <head>
        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{ i18n.trans('meta-description') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="generator" content="{{ i18n.trans('facturascripts') }}" />
        <title>{{ i18n.trans(fsc.title) | capitalize }}</title>
        {% endblock %}
        {% block icons %}
        <link rel="shortcut icon" href="{{ asset('Dinamic/Assets/Images/favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('Dinamic/Assets/Images/apple-icon-180x180.png') }}" />
        {% endblock %}
        {% block css %}
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('Plugins/SBAdmin/node_modules/startbootstrap-sb-admin/css/sb-admin.css') }}">
        <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/custom.css') }}" />
        {% endblock %}
        {# Add Specific Controller CSS #}
        {% for css in fsc.assets['css'] %}
        <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
        {% block javascript %}
        <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('node_modules/bootbox/bootbox.min.js') }}"></script>
        <script src="{{ asset('node_modules/jscolor-picker/jscolor.min.js') }}"></script>
        <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('Dinamic/Assets/JS/custom.js') }}"></script>
        {% endblock %}
        {# Add Specific Controller JS #}
        {% for js in fsc.assets['js'] %}
        <script src="{{ js }}"></script>
        {% endfor %}
        {{ debugBarRender.renderHead()|raw }}
    </head>
    {% block fullBody %}
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            {% block navbarContent %}
            <a class="navbar-brand" href="index.php">
                <img src="Core/Assets/Images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="FacturaScripts"/>
                {{ fsc.empresa.nombrecorto }}
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    {% for menuItem in menuManager.getMenu() %}{{ menuItem.getHTML()|raw }}{% endfor %}
                </ul>
                <ul class="navbar-nav sidenav-toggler">
                    <li class="nav-item">
                        <a class="nav-link text-center" id="sidenavToggler">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if template != 'MegaSearch.html.twig' %}
                        <form action="MegaSearch" method="post" class="form-inline my-2 my-lg-0 mr-lg-2">
                            <div class="input-group">
                                <input class="form-control" type="text" name="query" placeholder="{{ i18n.trans('search') }}" aria-label="{{ i18n.trans('search') }}"/>
                                <span class="input-group-append">
                                    <button class="btn btn-outline-info" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-lg-2" href="#" id="user-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle d-xs-none" aria-hidden="true"></i>
                            <span class="d-none d-xl-inline">&nbsp;{{ fsc.user.nick }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-list">
                            <a class="dropdown-item" href="{{ fsc.user.url() }}">
                                <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp; {{ fsc.user.nick }}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="?logout=TRUE">
                                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; {{ i18n.trans('logout') }}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </nav>
        {% endblock %}
        <div class="content-wrapper">
            {% block messages %}
            {% from 'Macro/Utils.html.twig' import message as show_message %}
            {{ show_message(log, ['error', 'critical', 'alert', 'emergency'], 'danger') }}
            {{ show_message(log, ['warning'], 'warning') }}
            {{ show_message(log, ['notice'], 'success') }}
            {{ show_message(log, ['info'], 'info') }}
            {% endblock %}

            {% block bodyHeaderOptions %}{% endblock %}
            {% block body %}{% endblock %}

            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small class="text-muted">{{ i18n.trans('facturascripts') }}&copy; 2012-{{ "now"|date("Y") }}</small>
                    </div>
                </div>
            </footer>
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Core plugin JavaScript-->
            <script src="Plugins/SBAdmin/node_modules/jquery.easing/jquery.easing.min.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="Plugins/SBAdmin/Assets/JS/sb-admin.js"></script>
{#
            <!-- Custom scripts for this page-->
            <script src="Plugins/SBAdmin/node_modules/startbootstrap-sb-admin/js/sb-admin-charts.js"></script>
#}
        </div>
        <br/>
        {{ debugBarRender.render()|raw }}
    </body>
    {% endblock %}
</html>
